@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');
*{
    font-family: 'Righteous', cursive;
}
body{
    background-color:  #fbfbfb !important;
}
.title-principal{
    color: #474747;
}
.subtitle{
    color: #818181 ;
}
.paragraph{
    color: #494949;
}
.text-blue{
    color: #3381EA !important;
}
.red-hat-text{
    font-family: 'Red Hat Text', sans-serif;
    color: #000000;
}